#modal_window{
    font-family: "P-light";
    position: fixed; 
    z-index: 1; 
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.model_content{
    border: 10px solid#ff6a26;
    border-radius: 4px;
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}
.model_content h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.model_content div{
    margin-bottom: 20px;
}
.model_content input{
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 14px;
    height: 46px;
    padding-left: 8px;
    width: 100%;
}
.call_button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ff6a26;
    font-size: 16px;
    border-radius: 2px;

}
.close_button{
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6a26;
    border: none;
}
.model_content button:hover{
    background-color: #242c33;
    color: white;
    transition: .4s;
    cursor: pointer;
}
.open{
    display: flex !important;
}
@media(max-width:492px){ 
    .model_content h1{
        font-size: 16px;
    }
}
/* Не сделал особо адаптивку так как когда сжимаю вроде все нормально */