@font-face {
    font-family: "poppinssection2";
    src: url("../../FONTS/Poppinsregular.woff");
}
@font-face {
    font-family: "poppinsthin-2";
    src: url("../../FONTS/Rubik-Regular.ttf");
}
.section2{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.section2_text{
    width: 80%;
    font-family: "poppinssection2";
}
.section2_text h3{
    font-weight: 400;
    color: #ff6a26;
    margin-bottom: 20px;
}
.section2_text h2{
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 20px;
}
.section2_text h4{
    line-height: 27px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.section2_text p{
    color: #74787D;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    font-family: "poppinsthin-2";
    padding-top: 20px;
}
.section2_img{
    width: 50%;
    /* margin-left: 100px; */
}
.section2_text button{
    margin-top: 20px;
    border: none;
    background-color: #ff6a26;
    color: #fff;
    padding: 10px 20px;
    transition: .4s;
    border-radius: 4px;
    font-size: 15px;
}
.section2_text button:hover{
    background-color:#242c33 ;
    cursor: pointer;
}
@media(max-width:1270px){
    .section2_img img{
        max-width: 100%;
        margin-top: 20px;
    }
    .section2_img{
        width: 100%;
    }
    .section2_text{
        width: 100%;
    }
    .section2_text h3{
        width: 100%;
    }
    .section2_text p{
        width: 100%;
    }
    .section2_text h4{
        width: 100%;
    }
    .section2_text h2{
        width: 100%;
    }
}
@media(max-width:1050px){
     .section2{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:800px){
    .section2_text{
        width: 100%;
    }
    .section2_text h3{
        width: 100%;
    }
    .section2_text p{
        width: 100%;
    }
    .section2_text h4{
        width: 100%;
    }
    .section2_text h2{
        width: 100%;
    }
}