.section6{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width:80%;
    margin: 0 auto;
    font-family: "poppins";
}
.section6 h1{
    font-size: 36px;
    font-weight: bold;
}
.section6 p{
    line-height: 25px;
    font-size: 14px;
    font-family: "Poppins-inner";
    margin-top: 25px;
    margin-bottom: 25px;
}
.section6_p{
    border: 1px solid #74787d;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 80%;
    
}
.section6_h h3{
    font-size: 16px;
    margin-bottom: 10px;
    padding:15px 20px ;
    background-color: #ff6a26;
    width: 80%;
}
.section6_h3{
    margin-bottom: 15px;
    border: 1px solid gray;
    padding: 10px 20px;
    width: 80%;
}
.section6_video{
    background: #242C33;
    width: 50%;
}
.section6_video img{
    opacity: 50%;
    width: 100%;
    height: 100%;
    
}
@media(max-width:1273px){
    .section6_text{
        width: 100%;
    }
    .section6_video{
        width: 60%;
    }
    .section6_video img{
        max-width: 100%;
    }

}
@media(max-width:1273px){
    .section6_text{
        width: 100%;
    }
    .section6{
        flex-wrap: wrap;
    }
    .section6_video{
        width: 100%;
    }
    .section6_video img{
        max-width: 100%;
    }
    .section6_p{
        width: 98%;
        padding: 10px 0px 10px 16px;
    }
    .section6_h3{
        padding: 10px 0px 10px 16px;
        width: 98%;
    }
    .section6_h h3{
        padding:15px 0 15px 16px;
        width: 98%;
    }
}
@media(max-width:1100px){
    .section6_p{
        width: 97%;
        padding: 10px 0px 10px 16px;
    }
    .section6_h3{
        padding: 10px 0px 10px 16px;
        width: 97%;
    }
    .section6_h h3{
        padding:15px 0 15px 16px;
        width: 97%;
    }
}
@media(max-width:650px){
    .section6_p{
        width: 96%;
        padding: 10px 0px 10px 16px;
    }
    .section6_h3{
        padding: 10px 0px 10px 16px;
        width: 96%;
    }
    .section6_h h3{
        padding:15px 0 15px 16px;
        width: 96%;
    }
}
@media(max-width:515px){
    .section6_p{
        width: 95%;
        padding: 10px 0px 10px 16px;
    }
    .section6_h3{
        padding: 10px 0px 10px 16px;
        width: 95%;
    }
    .section6_h h3{
        padding:15px 0 15px 16px;
        width: 95%;
    }
}